.Issues {
  height: 100%;
  border: 1px solid #ccc;
}
.Issue {
  background-color: #f6f8fa;
  padding: 10px 15px;
}
.header {
  margin-bottom: 10px;
}
.fa-exclamation-circle {
  color: #eb4034;
}
h5 {
  font-size: 18px;
  margin: 0 5px 0 5px;
}
.label {
  margin: 0 5px;
}
.infoTicket {
  color: #586069;
}
.issueMD {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: left;
  background: #fbfbfb;
  padding: 15px;
}

@media (max-width: 767px) {
  .issueMD {
    width: 100%;
    padding: 0;
  }
}
